
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.css" />
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="./stylesheets/pagination.css">

<script>
    globalDataList = [];
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142476007-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142476007-1');
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="./javascripts/logic.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>
<script src="./javascripts/sparkline.js"></script>
<script src="./javascripts/slider_logic.js"></script>
<script src="./javascripts/pagination.js"></script>
<script src="./javascripts/sentry.js" ></script>


<div class="ui small modal sources">
    <div class="header">
        Acknowledgments
    </div>
    <p style="padding: 10px;">
        I made this tool to practice drawing
        heads at different angles - inspired by <a target="_blank" href="https://x6ud.github.io/#/">x6ud's
            tool for animal references</a>. The photo dataset used is the <a target="_blank" href="https://github.com/NVlabs/ffhq-dataset">FFHQ set</a>.

    </p>

    <p style="padding: 10px;">
        Images from the <a target="_blank" href="http://www-prima.inrialpes.fr/perso/Gourier/Faces/HPDatabase.html">Head Pose Image Database</a> were also used.

    </p>
    <p style="padding: 10px;">
        Please feel free to email me with suggestions/bugs at <a target="_blank" href="mailto:arttechnologist@gmail.com">arttechnologist@gmail.com</a>
        You can donate to support the operating cost of this
        site (processing the face angles, hosting the images) <a target="_blank" href="https://ko-fi.com/arttechnologist">here</a> - thanks!
    </p>
    <div class="ui container padded segment">

        <p style="padding: 10px;">Other tools used</p>
        <div class="ui bulleted list">
            <a class="item" target="_blank" href="https://jsfiddle.net/rjxb7ffy/?utm_source=website&utm_medium=embed&utm_campaign=rjxb7ffy">Semantic UI Range Sliders</a>
        </div>
    </div>
</div>

