<!DOCTYPE html>
<html>

<head>
    <title>Reference Angle</title>
    <meta name="description" content="Find reference images of faces in different orientations.">

    <% include partials/header %>

</head>

<body>

<div class="ui small modal sources">
    <div class="header">
        Acknowledgments
    </div>
    <p style="padding: 10px;">
        I made this tool to practice drawing
        heads at different angles - inspired by <a target="_blank" href="https://x6ud.github.io/#/">x6ud's
            tool for animal references</a>. The photo dataset used is the <a target="_blank"
                                                                             href="https://github.com/NVlabs/ffhq-dataset">FFHQ
            set</a>.
    </p>
    <p style="padding: 10px;">
        Images from the <a target="_blank" href="http://www-prima.inrialpes.fr/perso/Gourier/Faces/HPDatabase.html">Head
            Pose Image Database</a> were also used.
    </p>
    <p style="padding: 10px;">
        Please feel free to email me with suggestions/bugs at <a target="_blank"
                                                                 href="mailto:arttechnologist@gmail.com">arttechnologist@gmail.com</a>
        You can donate to support the operating cost of this
        site (processing the face angles, hosting the images) <a target="_blank"
                                                                 href="https://ko-fi.com/arttechnologist">here</a> -
        thanks!
    </p>
    <div class="ui container padded segment">

        <p style="padding: 10px;">Other tools used</p>
        <div class="ui bulleted list">
            <a class="item" target="_blank"
               href="https://jsfiddle.net/rjxb7ffy/?utm_source=website&utm_medium=embed&utm_campaign=rjxb7ffy">Semantic
                UI Range Sliders</a>
        </div>
    </div>
</div>


<img id="modalTrigger" style="height: 40px; cursor: pointer;" src="images/logo.png">
<div id="mainContainer">
    <div id="scene-container"></div>
    <div id="dataContainer" class="ui four column grid" style="margin-left: 300px;">
    </div>
    <div id="mainPaginationContainer" class="paginationjs"></div>
    <div id="notificationArea">
        <h5 id="errSpace"></h5>
    </div>

    <form class="ui form" id="submitForm">
        <% include subviews/form.ejs %>
        <button id="submitButton" type=button class="ui huge center aligned button">
            Search
        </button>
        <div style="padding-top: 20px;">
            <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
            <script type='text/javascript'>kofiwidget2.init('Help me pay for this site', '#46b798', 'R6R6XKN8');
                kofiwidget2.draw();</script>
        </div>
    </form>

</div>
</body>

<% include partials/footer %>

</html>
