<div class="ui twenty wide field">
    <label>Emotions</label>
    <span>  <select id="emotion-dropdown" name="skills" class="ui fluid search dropdown">
              <option value="any">Any</option>
<option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="angry">Angry</option>
  <option value="confused">Confused</option>
              <option value="disgusted">Disgusted</option>
               <option value="surprised">Surprised</option>
               <option value="calm">Calm</option>
</select>

        </span>

</div>


<div class="inline fields">
    <label for="fruit">Gender</label>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" id="gender-any" name="fruit" tabindex="0"  checked="true" class="hidden">
            <label>Any</label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" id="gender-male" name="fruit" tabindex="0" class="hidden">
            <label>Male</label>
        </div>
    </div>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" id="gender-female" name="fruit" tabindex="0" class="hidden">
            <label>Female</label>
        </div>
    </div>
</div>

<div class="ui  field">
    <label>Age Range</label>
    <div class="ui segment">
        <div class="ui top attached label" id="display-age"></div>
        <div id="age-range" class="ui double olive range"></div>

    </div>
</div>

<div class="field">
        <div class="" >

                <button filterField='isSmiling' type=button class="ui basic tiny grey toggleButton button">Smiling</button>
                <button filterField='sunGlasses' type=button class="ui tiny basic grey toggleButton button">Sunglasses</button>
            <button filterField='eyeGlasses' type=button class="ui tiny basic grey toggleButton button">Eyeglasses</button>
            <button filterField='beard' type=button class="ui tiny basic grey toggleButton button">Beard</button>
            <button filterField='mustache' type=button class="ui tiny basic grey toggleButton button">Mustache</button>
            <button filterField='eyesOpen' type=button class="ui tiny basic grey toggleButton button">Eyes open</button>
            <button filterField='mouthOpen' type=button class="ui tiny basic grey toggleButton button">Mouth open</button>

        </div>
</div>


<script>


    $(document).ready(function () {
        Sentry.init({ dsn: 'https://0a77090ab0d24881b897b904b043223e@sentry.io/1526616' });
        // Semantic UI Range

        $('.ui.checkbox')
            .checkbox()
        ;

        // 1 is unchecked
        // 2 is checked
        // 3 is indeterminate
        $('.toggleButton')
            .click(function () {
               let button = $(this);
                let buttonAttr = button.attr('selectState');
                if (buttonAttr == 1 || !buttonAttr) {
                   // from unchecked to checked
                    // add icon
                    button.attr('selectState', 2);
                    let currentHtml = button[0].innerHTML.trim();
                    let icon = '<i class="teal check icon"></i>'
                    button.removeClass('grey');
                    button[0].innerHTML = icon + currentHtml;
                    button.addClass('teal');
                } else if (buttonAttr == 2) {
                    // change icon
                    let currentHtml = button[0].innerHTML.split('i>')[1].trim();
                    let icon = '<i class="yellow close icon"></i>'
                    button.removeClass('teal');
                    button[0].innerHTML = icon + currentHtml;
                    button.addClass('yellow');
                    button.attr('selectState', 3);
                } else if (buttonAttr == 3) {
                    button[0].innerHTML = button[0].innerHTML.split('i>')[1].trim();
                    button.removeClass('yellow');
               //     button.addClass('basic');
                    button.addClass('grey');
                    button.attr('selectState', 1);
                }

            });

        $('#age-range').range({
            min: 5,
            max: 90,
            start: 90,
            doubleStart: 5,
            step: 1,
            verbose: true,
            debug: true,
            onChange: function (value) {
                var
                    $self = $(this),
                    firstVal = $self.range('get thumb value'),
                    secVal = $self.range('get thumb value', 'second');
                $('#display-age').html('' + secVal + " - " + firstVal);
            }
        });

    });


</script>
